# La carpeta mysql_data conté la BBDD que utilitza el
# mysql del docker compose
# Cadascú ha de tenir la seva carpeta mysql_data	

# Per això, aquesta carpeta no es pujarà al repositori
# però si que es crearà al fer el docker-compose up

mysql_data/

# La carpeta node_modules conté els mòduls de node
# que s'instal·len amb el npm ci del docker compose
# Per això, aquesta carpeta no es pujarà al repositori
node_modules/
```
